.about_container {
    margin: 4rem 6rem;
    text-align: start;
}

.about_container h1 {
    padding-bottom: 1rem ;
}

.about_container p {
    padding-bottom: 2rem;
}

@media screen and (max-width:850px) {
    .about_container{
        margin: 4rem 2rem ;
    }
}